.footer-container{
    background: #5513b4;
    width: 100%;
    padding: 0.75rem 0;
    .footer-component{
        width: 90%;
        margin: 0.5rem auto;
        color: #fff;
        text-align: center;
    }
}