.feed-container {
  width: 90%;
  margin: 1rem auto;
  min-height: 95vh;
  overflow-y: scroll;
  .feedback-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    color: #333;
    letter-spacing: 0.05rem;
  }
  .form-component {
    width: 60%;
    margin: 0.5rem auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-field {
      padding: 1rem 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 15%;
        display: inline-block;
        color: #333;
        font-weight: 600;
      }
      input {
        display: inline-block;
        width: 60%;
        padding: 0.8rem 0.5rem;
        border-radius: 5px;
        border: 1px solid rgb(223, 211, 211);
        outline: none;
      }
    }
    .comment-container {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin: 1rem auto;
      .comment-title {
        margin-bottom: 1rem;
      }
      .comment-text-area {
        display: block;
        min-height: 100px;
        padding: 0.5rem;
        border: 1px solid #333;
        border-radius: 5px;
      }
      &::placeholder {
        padding: 0.5rem;
        display: inline-block;
      }
    }
    .submit-button {
      width: 50%;
      padding: 0.5rem 0.25rem;
      margin: 0.5rem auto;
      background: #5513b4;
      color: #fff;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
    }
    .submit-status {
      text-align: center;
      margin-top: 0.5rem;
      font-weight: bold;
      color: green;
    }
  }
}

@media (max-width: 480px) {
  .feed-container {
    .feedback-title {
      font-size: 1.25rem;
    }
    .form-component {
      width: 90%;
      .form-field {
        flex-direction: column;
        span {
          width: 100%;
          margin-bottom: 0.5rem;
          text-align: start;
          display: inline-block;
        }
        input {
          width: 100%;
        }
      }
      .comment-container {
        width: 100%;
      }
    }
  }
}
